.floatRight {
    float: right !important;
}

.borderNone {
    border: none !important;
}

.Vspace {
    padding: 20px;
}

.VeryBigspace {
    padding: 50px;
}


.loginButton{
    margin: 0px 0px 20px 0px;
}

.dropdown-content{
    height: auto !important;
}

.select-dropdown{
    color: #FFFFFF;
}

mt-5{
    margin-top: 20px !important;
}

bor{
    border-radius: 20px !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}